@import url("https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css");
@import url("https://fonts.googleapis.com/css2?family=Asap&family=Niconne&family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
}
:root {
  --light: #fbfcff;
  --dark: #252628;
  --bgLight: rgb(234, 231, 241);
  --bgDark: #101114;
  --colorDark: #ebecefcf;
  --colorLight: #22222e;
  --color: var(--colorLight);
  --body: var(--bgLight);
  --bg: var(--light);
  --priDark: #7b6cc2;
  --priLight: #7c5ffd;
  --primary: var(--priLight);
  color-scheme: light;
}
body {
  font-family: "Asap", sans-serif;
  font-size: calc(5px + 2vh + 0.2vw);
  color: var(--color);
  min-height: 100vh;
  overflow-x: hidden;
  background: var(--body);
}
ul {
  cursor: default;
  li {
    list-style: none;
    a:hover {
      text-decoration: underline;
    }
  }
}
a,
abbr {
  text-decoration: none;
  color: inherit;
}
i {
  font-size: larger;
}
h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: calc(30px + 3.5vh + 0.2vw);
}
h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: calc(17px + 2vh + 0.2vw);
}
p {
  line-height: calc(18px + 2vh);
}
::selection {
  color: inherit;
  background: #7b6cc244;
}

.judul {
  font-size: calc(9px + 2vh + 0.2vw);
  font-weight: bold;
}
.con {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  z-index: 5;
}
#loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 88;
  background: var(--bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  box-sizing: border-box;
  justify-content: space-between;
  img {
    height: 50%;
    margin-top: auto;
    filter: drop-shadow(4px 4px 12px #0005);
  }
  p {
    display: block;
    width: 40vw;
    height: 20vh;
    display: flex;
    align-items: center;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    justify-content: end;
    flex-direction: column;
    background: var(--primary);
    margin-top: auto;
  }
}
.nav {
  background: var(--bg);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 66;
  height: 14vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 calc(2vh + 5vw);
  box-sizing: border-box;
  box-shadow: 0 4px 12px -3px #0007;
  .menu {
    order: -2;
    padding: 2.1vh calc(2vh + 0.1vw);
    border-radius: 16px;
    transition: 310ms ease;
    cursor: pointer;
  }
  #logo {
    font-family: "Niconne", cursive;
    font-size: calc(10px + 5vh + 0.2vw);
    margin-right: auto;
    margin-left: calc(5vh + 5vw);
    cursor: pointer;
  }
  .search {
    width: 42%;
    margin-right: auto;
    display: flex;
    height: 50%;
    align-items: center;
    justify-content: space-between;
    border-radius: 100vw;
    color: inherit;
    overflow: hidden;
    background: var(--body);
    .inputSearch {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      width: calc(100% - 12%);
      padding-right: 1vw;
      font-size: inherit;
      justify-content: space-between;
      color: inherit;
      box-sizing: border-box;
      * {
        padding: 1.1vh calc(1vh + 0.1vw);
      }
      input {
        height: 100%;
        background: #0000;
        outline: none;
        font: inherit;
        color: inherit;
        width: 90%;
        display: inline-block;
      }
      .reset {
        height: 100%;
        width: 10%;
        display: none;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
        font-size: inherit;
      }
    }
    form {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      button {
        order: -1;
        height: 100%;
        padding-left: 1vw;
        box-sizing: border-box;
        width: 12%;
        font: inherit;
        color: inherit;
        background: #0000;
        .submit {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          color: inherit;
          font-size: inherit;
          transition: 300ms ease;
          &:hover {
            color: var(--primary);
          }
          &:active {
            color: inherit;
            filter: brightness(0.5);
            transform: translate(0, 0.3vh);
          }
        }
      }
    }
  }
  .subItems {
    display: flex;
    justify-content: space-between;
    width: 16%;
    div {
      position: relative;
      padding: 2.1vh calc(2vh + 0.1vw);
      margin-left: 2vh;
      border-radius: 16px;
      overflow: hidden;
      transition: 310ms ease;
      cursor: pointer;
    }
    .user {
      border-radius: 50%;
      img {
        position: absolute;
        top: 0;
        left: 0;
        transform: scale(1.12);
        object-fit: cover;
      }
    }
  }
}
.nav.onSearch {
  div {
    display: none;
  }
  .search,
  .search div {
    display: flex;
    width: 100%;
  }
  .inputSearch .reset {
    display: none;
  }
}
.sekunderNav {
  position: fixed;
  display: flex;
  z-index: 55;
}
.sekunderNav.side {
  top: 14vh;
  left: 0;
  bottom: 0;
  width: calc(3vh + 4vw);
  background: var(--bg);
  color: var(--color);
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 4px 4px 12px -3px #0007;
  overflow: hidden;
  transition: left 300ms cubic-bezier(0.47, 0, 0.75, 0.72);
  div {
    margin-top: 3vh;
    margin-bottom: 3vh;
    transition: 300ms ease;
    &:hover {
      color: var(--primary);
    }
    &:active {
      color: inherit;
      filter: brightness(0.5);
      transform: translate(0, 0.3vh);
    }
  }
  .on {
    color: var(--primary);
  }
  .user {
    margin-top: auto;
  }
}
.sekunderNav.side.off {
  left: calc(-3vh + -4vw);
}
.ulMenu {
  display: none;
}
.sekunderNav.bottom {
  bottom: 0;
  left: 0;
  right: 0;
  height: 10vh;
  background: var(--bg);
  align-items: center;
  justify-content: space-around;
  border-top: 0.3vh solid #70727575;
  .setting,
  .blogs {
    display: none;
  }
  .on {
    color: var(--primary);
  }
}
.con .contenCon {
  position: absolute;
  bottom: 0;
  right: 0;
  width: calc(100vw - calc(3vh + 4vw));
  height: calc(100vh - 14vh);
  margin-top: auto;
  margin-left: auto;
  box-sizing: border-box;
  transition: width 300ms cubic-bezier(0.47, 0, 0.75, 0.72);
  z-index: 10;
  .item {
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    overflow: auto;
  }
  .home {
    display: flex;
    position: relative;
    min-height: 300vh;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    .jumbotron {
      min-height: 86vh;
      position: relative;
      display: flex;
      background: linear-gradient(
        to bottom right,
        rgba(97, 145, 248, 0.6),
        var(--body)
      );
      flex-direction: column;
      text-align: center;
      flex-wrap: nowrap;
      width: 100%;
      h1 {
        width: calc(100vh + 2vw);
        max-width: 90vw;
        margin: 18vh auto 0 auto;
        color: inherit;
        span {
          color: var(--primary);
        }
      }
      p {
        width: calc(100vh + 2vw);
        max-width: 90vw;
        margin-bottom: 3vh;
        margin: 0 auto;
      }
      .started {
        font-family: "Poppins", sans-serif;
        padding: 2.1vh calc(2vh + 5vw);
        cursor: pointer;
        font-weight: lighter;
        border-radius: 10vh;
        color: var(--primary);
        border: 0.4vh solid var(--primary);
        margin: auto;
        margin-top: 6vh;
        box-sizing: border-box;
        width: max-content;
        transition: 300ms ease;
      }
    }
    .about {
      background: var(--primary);
      color: var(--colorDark);
      padding: 5vh calc(5vh + 9vw);
      box-sizing: border-box;
    }
  }
  .product {
    width: calc(100vh + 2vw);
    padding: 0;
    margin: 0 auto;
    max-width: 100vw;
    transition: margin 0;
    .productCon {
      position: relative;
      margin-top: 1vh;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: start;
      gap: calc(0.3vh + 1px);
      padding-bottom: 8vh;
      .items {
        width: calc(calc(100vh + 2vw - calc(0.6vh + 2px)) / 3);
        height: calc(calc(100vh + 2vw - calc(0.6vh + 2px)) / 3);
        background: var(--primary);
        margin: 0;
        padding: 0;
        a {
          display: inline-flex;
          align-items: end;
          padding: 1.1vh calc(1vh + 0.2vw);
          color: var(--colorDark);
          box-sizing: border-box;
          justify-content: end;
          width: 100%;
          height: 100%;
        }
      }
    }
    .notFound {
      text-align: center;
      width: 100%;
      padding: 16vh 0;
    }
  }
  .itemsAllView {
    font-size: inherit;
    width: calc(100vh + 2vw);
    padding: 0;
    margin: 0 auto;
    max-width: 100vw;
    transition: margin 0;
    .itemsV {
      width: 100%;
      display: flex;
      flex-direction: column;
      .image {
        background: var(--primary);
        min-height: 70vh;
      }
      .text {
        padding: 0 calc(2.8vh + 0.2vw);
        box-sizing: border-box;
        font-size: inherit;
        display: flex;
        flex-direction: column;
        .name {
          box-sizing: border-box;
          height: 12vh;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        .conBtn {
          display: flex;
          justify-content: space-evenly;
          padding: 10vh 0;
          div {
            border-radius: 12px;
            width: 40%;
            cursor: pointer;
            display: flex;
            font-weight: bolder;
            height: 10vh;
            box-sizing: border-box;
            align-items: center;
            justify-content: center;
          }
          .addCart {
            color: var(--body);
            background: var(--primary);
          }
          .contact {
            color: var(--primary);
            background: var(--body);
            border: calc(1px + 0.4vh) solid var(--primary);
          }
        }
      }
    }
  }
  .profile {
    width: calc(100vh + 2vw);
    padding: 0;
    margin: 0 auto;
    max-width: 100vw;
    transition: margin 0;
    background: var(--bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    .avatar {
      width: 40vh;
      height: 40vh;
      max-width: 50vw;
      max-height: 50vw;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      background: var(--body);
      background-position: center;
      background-size: cover;
      margin: 10vh 0 4vh 0;
      border-radius: 50%;
      input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        opacity: 0;
        height: 100%;
        z-index: 6;
        display: inline-block;
      }
      i {
        font-size: calc(5vw + 12vh);
        color: #71727475;
      }
      #imageAvatar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: scale(1.1);
        object-fit: cover;
      }
    }
    h2:focus {
      outline: none;
      background: #7b6cc244;
    }
  }
  .home.d-none {
    display: none;
  }
  .product.d-none {
    display: none;
  }
  .cart.d-none {
    display: none;
  }
  .contact.d-none {
    display: none;
  }
  .profile.d-none {
    display: none;
  }
  .conBlogs.d-none {
    display: none;
  }
}
.light {
  font-weight: lighter;
}
.d-none {
  display: none;
}
@media screen and (min-width: 769px) {
  .nav {
    .subItems {
      div {
        margin: 0;

        &:hover {
          box-shadow: 4px 4px 12px -5px #0007;
          transform: translate(0, -0.5vh);
        }
        &:active {
          box-shadow: none;
          transform: translate(0, 0);
          transition: 200ms ease;
        }
      }
    }
    .menu {
      &:hover {
        box-shadow: 4px 4px 12px -5px #0007;
        transform: translate(0, -0.5vh);
      }
      &:active {
        box-shadow: none;
        transform: translate(0, 0);
        transition: 200ms ease;
      }
    }
  }
  .itemsAllView .conBtn div {
    transition: 310ms ease;
    &:hover {
      box-shadow: 4px 4px 12px -5px #0007;
      transform: translate(0, -0.5vh);
    }
    &:active {
      box-shadow: none;
      transform: translate(0, 0);
      transition: 200ms ease;
    }
  }
  .con .contenCon .home .jumbotron .started {
    &:hover {
      box-shadow: 4px 4px 12px -5px #0007;
      transform: translate(0, -0.5vh);
      border: 0.4vh solid #0000;
      color: var(--bgLight);
      background: var(--primary);
    }
    &:active {
      box-shadow: none;
      transform: translate(0, 0);
      color: var(--colorDark);
    }
  }
}
@media screen and (max-width: 768px) {
  body {
    font-size: calc(17px + 0.2vw);
  }
  h1 {
    font-size: calc(42px + 0.2vw);
  }
  h2 {
    font-size: calc(25px + 0.2vh);
  }
  i {
    font-size: x-large;
  }
  .nav {
    #logo {
      margin: 0;
    }
    .search {
      display: none;
    }
    .search form {
      justify-content: end;
      padding-left: 2vw;
      button {
        width: calc(18%);
      }
      .inputSearch {
        width: 82%;
        input {
          width: calc(80% - 1vw);
        }
        .reset {
          width: calc(20% + 1vw);
        }
      }
    }
    .subItems {
      .user,
      .troli {
        display: none;
      }
    }
  }
  .con .contenCon .product#Product {
    width: 100vw;
    margin: auto;
    gap: 3px;
    .productCon {
      margin: auto;
      .items {
        width: calc(calc(100vw - 3px) / 2);
        height: calc(calc(100vw - 3px) / 2);
      }
    }
    div,
    a,
    button {
      -webkit-tap-highlight-color: #0000;
    }
  }
  .sekunderNav .tandai {
    display: none;
  }
  .ulMenu {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    padding-top: 5vh;
    height: 40vh;
    background: #404144;
    color: var(--colorDark);
    border-top-left-radius: calc(2.5vh + 2.5vw);
    border-top-right-radius: calc(2.5vh + 2.5vw);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: 300ms cubic-bezier(0.43, 0.47, 0.3, 1);
    z-index: 77;
    .conItems {
      width: 92%;
      height: 80%;
      overflow: auto;
      display: flex;
      flex-direction: column;
      margin: auto;
      scroll-snap-type: y mandatory;
      -webkit-scroll-snap-type: y mandatory;
      -moz-scroll-snap-type: y mandatory;
      -ms-scroll-snap-type: y mandatory;
      &::before {
        content: "";
        width: 30vw;
        height: 1vh;
        position: absolute;
        top: 2.4vh;
        left: 50%;
        border-radius: 4vh;
        transform: translate(-50%);
        background: #75757575;
      }
      div {
        scroll-snap-align: start;
        -webkit-scroll-snap-align: start;
        -moz-scroll-snap-align: start;
        -ms-scroll-snap-align: start;
        display: flex;
        align-items: center;
        font-size: inherit;
        padding: 2.4vh calc(2.1vh + 0.3vw);
        i {
          font-size: x-large;
        }
        .fi-rr-trash {
          color: red;
        }
        .fi-rr-resources {
          color: cornflowerblue;
        }
        .fi-rr-comment {
          color: lawngreen;
        }
        .fi-rr-user {
          color: lightblue;
        }
        .fi-rr-bookmark {
          color: firebrick;
        }
        .fi-rr-shopping-cart {
          color: orange;
        }
        .fi-rr-moon {
          color: rgb(177, 152, 216);
        }
        .fi-rr-circle {
          color: yellow;
        }
        p {
          margin-left: 5vw;
        }
      }
    }
  }
  .ulMenu.off {
    bottom: -45vh;
  }
  .product .productCon {
    grid-template-columns: repeat(2, auto);
  }
}
