@import url("https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css");
@import url("https://fonts.googleapis.com/css2?family=Asap&family=Niconne&family=Poppins:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
}
:root {
  --light: #fbfcff;
  --dark: #252628;
  --bgLight: rgb(234, 231, 241);
  --bgDark: #101114;
  --colorDark: #ebecefcf;
  --colorLight: #22222e;
  --color: var(--colorLight);
  --body: var(--bgLight);
  --bg: var(--light);
  color-scheme: light;
}
body {
  font-family: "Asap", sans-serif;
  font-size: calc(5px + 2vh + 0.2vw);
  color: var(--color);
  min-height: 100vh;
  overflow-x: hidden;
  background: var(--body);
}
ul {
  cursor: default;
  li {
    list-style: none;
    a:hover {
      text-decoration: underline;
    }
  }
}
a,
abbr {
  text-decoration: none;
  color: inherit;
}
i {
  font-size: larger;
}
h1 {
  font-family: "Poppins", sans-serif;
  font-size: calc(30px + 3.5vh + 0.2vw);
}
h2 {
  font-family: "Poppins", sans-serif;
  font-size: calc(17px + 2vh + 0.2vw);
}
.judul {
  font-size: calc(9px + 2vh + 0.2vw);
  font-weight: bold;
}
.con {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  z-index: 5;
}
.nav {
  background: var(--bg);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 66;
  height: 14vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 calc(2vh + 5vw);
  box-sizing: border-box;
  box-shadow: 0 4px 12px -3px #0007;
  .menu {
    order: -2;
    padding: 2.1vh calc(2vh + 0.1vw);
    border-radius: 16px;
    transition: 310ms ease;
    cursor: pointer;
  }
  #logo {
    font-family: "Niconne", cursive;
    font-size: calc(10px + 5vh + 0.2vw);
    margin-right: auto;
    margin-left: calc(5vh + 5vw);
    cursor: pointer;
  }
  .search {
    width: 40%;
    margin-right: auto;
    display: flex;
    height: 50%;
    align-items: center;
    justify-content: space-between;
    border-radius: 100vw;
    color: inherit;
    overflow: hidden;
    background: var(--body);
    .inputSearch {
      display: flex;
      align-items: center;
      width: calc(100% - 12%);
      padding-right: 0.5vw;
      font-size: inherit;
      color: inherit;
      box-sizing: border-box;
      * {
        padding: 1.1vh calc(1vh + 0.1vw);
      }
      input {
        height: 100%;
        background: #0000;
        outline: none;
        font: inherit;
        color: inherit;
        width: 90%;
      }
      .reset {
        height: 100%;
        box-sizing: border-box;
        margin-top: 1vh;
        justify-content: center;
        font-size: inherit;
        i {
        }
      }
    }
    form {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      button {
        order: -1;
        height: 100%;
        width: 12%;
        font: inherit;
        color: inherit;
        background: #0000;
        .submit {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          color: inherit;
          font-size: inherit;
          transition: 300ms ease;
          &:hover {
            color: #9780ffcc;
          }
          &:active {
            color: inherit;
            filter: brightness(0.5);
            transform: translate(0, 0.3vh);
          }
        }
      }
    }
  }
  .subItems {
    display: flex;
    justify-content: space-between;
    width: 16%;
    div {
      padding: 2.1vh calc(2vh + 0.1vw);
      margin-left: 2vh;
      border-radius: 16px;
      transition: 310ms ease;
      cursor: pointer;
    }
  }
}
.sekunderNav {
  position: fixed;
  display: flex;
  z-index: 55;
}
.sekunderNav.side {
  top: 14vh;
  left: 0;
  bottom: 0;
  width: calc(3vh + 4vw);
  background: var(--bg);
  color: var(--color);
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 4px 4px 12px -3px #0007;
  overflow: hidden;
  transition: left 300ms cubic-bezier(0.47, 0, 0.75, 0.72);
  div {
    margin-top: 3vh;
    margin-bottom: 3vh;
    transition: 300ms ease;
    &:hover {
      color: #9780ffcc;
    }
    &:active {
      color: inherit;
      filter: brightness(0.5);
      transform: translate(0, 0.3vh);
    }
  }
  .on {
    color: #9780ffcc;
  }
  .user {
    margin-top: auto;
  }
}
.sekunderNav.side.off {
  left: calc(-3vh + -4vw);
}
.ulMenu {
  display: none;
}
.sekunderNav.bottom {
  bottom: 0;
  left: 0;
  right: 0;
  height: 10vh;
  background: var(--bg);
  align-items: center;
  justify-content: space-around;
  border-top: 0.3vh solid #70727575;
  .setting,
  .blogs {
    display: none;
  }
  .on {
    color: #9780ffcc;
  }
}
.con .contenCon {
  position: absolute;
  bottom: 0;
  right: 0;
  width: calc(100vw - calc(3vh + 4vw));
  height: calc(100vh - 14vh);
  box-sizing: border-box;
  transition: width 300ms cubic-bezier(0.47, 0, 0.75, 0.72);
  z-index: 10;
  .item {
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    overflow: auto;
  }
  .home {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    .sapa {
      margin: 2vh 2vw;
      margin-right: auto;
    }
    .jumbotron {
      display: flex;
      flex-wrap: nowrap;
      width: 100%;
      h1 {
        width: calc(100vh + 2vw);
        max-width: 90vw;
        text-align: center;
        margin: 2vh auto;
        background: linear-gradient(to bottom right, blue, hotpink);
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -ms-background-clip: text;
        color: #0000;
      }
    }
  }
  .product {
    width: calc(100vh + 2vw);
    background: var(--bg);
    padding: 0;
    margin: 0 auto;
    max-width: 100vw;
    transition: margin 0;
    .inputSearch {
      background: inherit;
      width: 100%;
      height: 10vh;
      padding: 2.1vh calc(2vh + 0.5vw);
      box-sizing: border-box;
      form {
        width: 100%;
        height: 100%;
        display: flex;
        background: var(--body);
        overflow: hidden;
        border-radius: 60vh;
        font-size: inherit;
        button {
          order: -1;
          width: calc(100% - 88%);
          font-size: inherit;
          color: inherit;
          background: #0000;
          .submit {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: inherit;
            i {
              font-size: inherit;
            }
          }
        }
        .bar {
          display: flex;
          width: 88%;
          input {
            background: #0000;
            font: inherit;
            outline: none;
            height: 100%;
            width: 88%;
          }
          .reset {
            display: flex;
            align-items: center;
            justify-content: center;
            width: calc(100% - 88%);
          }
        }
      }
    }
    .productCon {
      position: relative;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, auto);
      grid-gap: 1vh;
      &::before {
        content: "Maaf, pencarian tidak ditemukan 😥";
        position: absolute;
        top: 20vh;
        left: 0;
        text-align: center;
        filter: opacity(0.6);
        width: 100%;
        z-index: 1;
      }
      .items {
        width: 100%;
        height: calc(calc(100vh + 2vw - 2vh) / 3);
        max-height: calc(calc(100vw - 2vh) / 3);
        background: royalblue;
        margin: 0;
        padding: 0;
      }
    }
  }
  .home.d-none {
    display: none;
  }
  .product.d-none {
    display: none;
  }
  .cart.d-none {
    display: none;
  }
  .contact.d-none {
    display: none;
  }
  .profile.d-none {
    display: none;
  }
  .conBlogs.d-none {
    display: none;
  }
}

.d-none {
  display: none;
}
@media screen and (min-width: 769px) {
  .nav {
    .subItems {
      div {
        margin: 0;

        &:hover {
          box-shadow: 4px 4px 12px -5px #0007;
          transform: translate(0, -0.5vh);
        }
        &:active {
          box-shadow: none;
          transform: translate(0, 0);
          transition: 200ms ease;
        }
      }
    }
    .menu {
      &:hover {
        box-shadow: 4px 4px 12px -5px #0007;
        transform: translate(0, -0.5vh);
      }
      &:active {
        box-shadow: none;
        transform: translate(0, 0);
        transition: 200ms ease;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  i {
    font-size: x-large;
  }
  .nav {
    #logo {
      margin: 0;
    }
    .search {
      display: none;
    }
    .subItems {
      .user,
      .troli {
        display: none;
      }
    }
  }
  div,
  a {
    -webkit-tap-highlight-color: #0000;
  }
  .sekunderNav .tandai {
    display: none;
  }
  .ulMenu {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    padding-top: 5vh;
    height: 40vh;
    background: #404144;
    color: var(--colorDark);
    border-top-left-radius: calc(2.5vh + 2.5vw);
    border-top-right-radius: calc(2.5vh + 2.5vw);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: 300ms cubic-bezier(0.43, 0.47, 0.3, 1);
    z-index: 77;
    .conItems {
      width: 92%;
      height: 80%;
      overflow: auto;
      display: flex;
      flex-direction: column;
      margin: auto;
      scroll-snap-type: y mandatory;
      -webkit-scroll-snap-type: y mandatory;
      -moz-scroll-snap-type: y mandatory;
      -ms-scroll-snap-type: y mandatory;
      &::before {
        content: "";
        width: 30vw;
        height: 1vh;
        position: absolute;
        top: 2.4vh;
        left: 50%;
        border-radius: 4vh;
        transform: translate(-50%);
        background: #75757575;
      }
      div {
        scroll-snap-align: start;
        -webkit-scroll-snap-align: start;
        -moz-scroll-snap-align: start;
        -ms-scroll-snap-align: start;
        display: flex;
        align-items: center;
        font-size: inherit;
        padding: 2.4vh calc(2.1vh + 0.3vw);
        i {
          font-size: x-large;
        }
        .fi-rr-trash {
          color: red;
        }
        .fi-rr-resources {
          color: cornflowerblue;
        }
        .fi-rr-comment {
          color: lawngreen;
        }
        .fi-rr-user {
          color: lightblue;
        }
        .fi-rr-bookmark {
          color: firebrick;
        }
        .fi-rr-shopping-cart {
          color: orange;
        }
        .fi-rr-moon {
          color: rgb(177, 152, 216);
        }
        .fi-rr-circle {
          color: yellow;
        }
        p {
          margin-left: 5vw;
        }
      }
    }
  }
  .ulMenu.off {
    bottom: -45vh;
  }
  .product .productCon {
    grid-template-columns: repeat(2, auto);
  }
}
