@import url("https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css");
@import url("https://fonts.googleapis.com/css2?family=Asap&family=Lobster+Two&family=Tangerine:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  scroll-behavior: smooth;
}
:root {
  --light: #f4f1ff;
  --dark: #3d3b4e;
  --bgLight: #d7d0f7;
  --bgDark: #28263a;
  --colorDark: #c9c4e4;
  --headingDark: #e1dcfd;
  --colorLight: #564f6d;
  --headingLight: #423e4e;
  --color: var(--colorLight);
  --heading: var(--headingLight);
  --body: var(--bgLight);
  --bg: var(--light);
  --priDark: #7a6ebb;
  --priLight: #6244e4;
  --primary: var(--priLight);
  --shadow: 0 4px 12px -3px #0004;
  color-scheme: light;
}
body {
  font-family: "Asap", sans-serif;
  font-size: calc(5px + 2vh + 0.2vw);
  color: var(--color);
  background: var(--body);
  overflow-x: hidden;
  overflow-y: auto;
}
ul {
  cursor: default;
  li {
    list-style: none;
    a:hover {
      text-decoration: underline;
    }
  }
}
a,
abbr {
  text-decoration: none;
  color: inherit;
}
i {
  font-size: larger;
  opacity: 70%;
}
.on i {
  opacity: 1;
  color: var(--primary);
}
h1,
h2,
.nameUser {
  color: var(--heading);
}
h1 {
  font-weight: 600;
  font-size: calc(30px + 3.5vh + 0.2vw);
}
h2 {
  font-weight: 600;
  font-size: calc(17px + 2vh + 0.2vw);
}
p {
  line-height: calc(18px + 2vh);
}
::selection {
  color: inherit;
  background: #7b6cc244;
}
@media screen and (max-width: 500px) {
  body {
    background: linear-gradient(
      var(--bg),
      var(--body),
      var(--body),
      var(--body),
      var(--body)
    );
  }
  .con {
    width: 100vw;
    height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
    display: inline-flex;
    align-items: start;
    scroll-snap-type: x mandatory;
    box-sizing: border-box;
    .pages {
      min-width: 100vw;
      height: 100vh;
      position: relative;
      overflow-y: auto;
      display: inline-block;
      scroll-snap-align: start;
    }
  }
  .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(63vw);
    height: 60vh;
    border-bottom-left-radius: 100vh;
    border-bottom-right-radius: 100vh;
    background: var(--primary);
    background-blend-mode: darken;
    z-index: -3;
  }
  .costumize {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-left: auto;
    height: 8vh;
    padding: 0 5vw;
    box-sizing: border-box;
    .row,
    .grid {
      margin-right: 3.3vw;
    }
  }
  .Homepage {
    .mobileNav {
      width: 100vw;
      height: 10vh;
      padding: 0 5vw;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: end;
      .search {
        margin-right: 5vw;
      }
      div {
        padding: calc(0.7vh + 0.2vw);
      }
      .logo {
        font-family: "Tangerine", cursive;
        font-size: calc(25px + 2.6vh + 0.2vw);
        margin-right: auto;
        margin-top: 1.2vh;
        color: #ece8ffed;
      }
    }
    .breadCrumb {
      display: flex;
      flex-wrap: nowrap;
      height: 10vh;
      width: 100vw;
      position: relative;
      overflow-x: auto;
      align-items: center;
      z-index: 3;
      .item {
        padding: calc(0.8vh + 0.2vw) 3vw;
        border-radius: 100vh;
        background: var(--bg);
        white-space: nowrap;
        margin: 0 2.6vw;
        box-shadow: var(--shadow);
      }
      .item.on {
        background: var(--dark);
        color: var(--colorDark);
      }
    }
    .homeCon {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .items .item {
      box-shadow: var(--shadow);
      transition: 320ms ease;
    }
    .items .item.off {
      filter: opacity(0);
      transform: translate(0, 5vh);
    }
    .items.on {
      transform: translate(0, 5vh);
    }
    .searchbar {
      position: fixed;
      top: -8vh;
      left: 0;
      width: 100%;
      z-index: 22;
      height: 8vh;
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--bg);
      box-shadow: var(--shadow);
      transition: 310ms ease;
      form {
        width: 90%;
        height: 70%;
        padding: 0 0.5vw;
        background: #fbfcff33;
        border-radius: 100vh;
        display: flex;
        align-items: center;
        input {
          width: 86%;
          background: #0000;
          outline: none;
          height: 100%;
          font: inherit;
          color: inherit;
          &::placeholder {
            color: var(--color);
            opacity: 54%;
          }
        }
        button {
          width: 12%;
          background: #0000;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          font: inherit;
          color: inherit;
        }
      }
    }
  }
  .items.grid {
    display: flex;
    padding: 2vh 2vw;
    flex-direction: column;
    padding-bottom: 10vh;
    align-items: center;
    transition: 420ms cubic-bezier(0.25, 0.1, 0, 0.93);
    .item {
      width: 43vw;
      height: 43vw;
      margin-top: 4vw;
      border-radius: 3vh;
      background: var(--bg);
      overflow: hidden;
    }
  }
  .items.row {
    width: 86vw;
    display: flex;
    margin: 2vh 0;
    justify-content: space-between;
    flex-direction: column;
    .item {
      width: 100%;
      height: 14vh;
      margin: 2vh 0;
      border-radius: 3vh;
      background: var(--bg);
    }
  }
  .items.fullWidth {
    width: 100vw;
    display: flex;
    margin: 2vh 0;
    flex-direction: column;
    align-items: center;
    .item {
      width: 100%;
      height: 95vw;
      margin: 2vh 0;
      background: var(--bg);
      border-radius: 4vw;
    }
  }
  .Bookmarkpage {
    .header {
      display: flex;
      align-items: center;
      width: 100vw;
      height: 10vh;
      padding: 0 5vw;
      border-bottom: 0.2vh solid #564f6d65;
      .close {
        margin-right: 4vw;
      }
    }
  }
  .bottomNav {
    position: fixed;
    bottom: 2.5vh;
    right: 5vw;
    left: 5vw;
    height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--bg);
    border-radius: 100vh;
    box-shadow: var(--shadow);
    div {
      padding: 0 3vw;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: 300ms ease;
      i {
        background: var(--bg);
        transition: background 300ms ease;
      }
      span {
        font-size: calc(calc(5px + 2vh + 0.2vw) / 1.4);
        opacity: 70%;
        margin: 1vh 0;
        text-align: center;
        display: none;
      }
    }
    .on {
      padding-top: 5vh;
      margin-bottom: 10vh;
      i {
        color: inherit;
        background: var(--primary);
        display: inline-block;
        padding: 2.4vh;
        border-radius: 50%;
        box-shadow: var(--shadow);
      }
      span {
        display: inline;
      }
    }
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --color: var(--colorDark);
    --heading: var(--headingDark);
    --body: var(--bgDark);
    --bg: var(--dark);
    --primary: var(--priDark);
    --border: 0.036vh solid #9187af86;
    color-scheme: dark;
  }
  .con {
    .Homepage {
      .breadCrumb .item.on {
        background: var(--light);
        color: var(--colorLight);
        border: 0;
      }
      .breadCrumb .item {
        border: var(--border);
        box-sizing: border-box;
        box-shadow: none;
      }
      .homeCon {
        .item {
          box-shadow: none;
          border: var(--border);
          box-sizing: border-box;
        }
      }
    }
  }
}
